<div class="media-object stack-for-small">
  <div class="media-object-section medium-2 columns text-center">
    {{beer-image beer=item.beer}}
    {{beer-labels beer=item.beer}}
  </div>

  <div class="media-object-section">
    {{beer-name name=item.beer.beer_name}}
    {{brewery-name name=item.brewery.brewery_name}}

    {{#if shouldShowDescription}}
      <p>{{item.beer.beer_description}}</p>
      <button class="button tiny" {{action "hideDescription"}}>Hide Description</button>
    {{else}}
      <button class="button tiny" {{action "showDescription"}}>Show Description</button>
    {{/if }}

    <p>{{item.quantity}} bottles</p>

    {{#if user}}
      <button class="button" {{action "consume"}}>Had One</button>
    {{/if}}
  </div>
</div>
